
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body{
  font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}


.item-center {
  margin-left: auto;
  margin-right: auto;
}

#title {
  background-color: #ff4c68;
}

.font-white {
  color: white;
}

.container-fluid{
  padding: 20% 15%; 
}
.icon-padding-5{
  padding: 5px;
}
.title-content{
  padding: 30% auto !important;
}