@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}


.item-center {
  margin-left: auto;
  margin-right: auto;
}

#title {
  background-color: #ff4c68;
}

.font-white {
  color: white;
}
.container-fluid{
  padding:3% 15%;
}