body {
  margin: 0px !important;
  padding: 0px !important;
}
h1 {
  margin-top: 0;
}

.heading {
  background-color: #d4ecdd;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottam-container{
    height: 200px;
    width: 200px;
    background-color: blue;
}
